[user]
    name = Michiaki Mizoguchi
    email = michiaki.mizoguchi@gmail.com
[include]
    path = ~/.gitconfig.local
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
[alias]
    ci = commit
    co = checkout
    sw = switch
    br = branch
    st = status -sb
    sw = switch
    gr = log --branches --graph --tags --remotes --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    pushf = push --force-with-lease
    diffc = diff --cached
[fetch]
    prune = true
    pruneTags = true
    followTags = true
[core]
    editor = vim -c \"set fenc=utf-8\"
    quotepath = false
    precomposeunicode = true
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes
    ignorecase = false
    autocrlf = input
    longpaths = true
    pager = delta
[interactive]
    diffFilter = delta --color-only
[http]
    sslVerify = true
[push]
    default = simple
[merge]
    tool = opendiff
[mergetool]
    keepBackup = false
[ghq]
    root = ~/workspace/src
[diff]
    compactionHeuristic = true
[http "https://gopkg.in"]
    followRedirects = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[delta]
    features = decorations
    syntax-theme = Solarized (dark)
    side-by-side = true
    plus-style = syntax bold "#013300"
[pull]
	ff = only
[init]
	defaultBranch = main
