[include]
    path = ~/.gitconfig.local
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
[alias]
    ci = commit
    co = checkout
    br = branch
    st = status -sb
    gr = log --branches --graph  --tags --remotes --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    pushf = push --force-with-lease
[core]
    editor = vim -c \"set fenc=utf-8\"
    quotepath = false
    precomposeunicode = true
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes
[http]
    sslVerify = false
[push]
    default = simple
[github]
	user = mizoguche
[merge]
	tool = opendiff
[mergetool]
	keepBackup = false
[ghq]
	root = ~/workspace/src
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[diff]
	compactionHeuristic = true
